In [3]:
import csv
employees = []

with open("Files/output.csv", "r") as f:
	next(f)
	for line in f:
		tokens = line.split(',')
		employee = tokens[0]
		age = int(tokens[1])
		employees.append([employee, age])

In [4]:
employees

[['Spongebob', 30],
 ['Patrick', 37],
 ['Sandy', 27],
 ['Squidward', 34],
 ['Mr. Krabs', 55],
 ['Plankton', 40],
 ['Gary', 5],
 ['Pearl', 16]]

In [6]:
for employee in employees:
	if(employee[0] == "Pearl"):
		print(employee[1])

#O(N) complexity

16

In [7]:
# The complexity becomes O(1) when we use Dictionary
employees = {}

with open("Files/output.csv", "r") as f:
	next(f)
	for line in f:
		tokens = line.split(',')
		employee = tokens[0]
		age = int(tokens[1])
		employees[employee] = age

In [8]:
employees["Pearl"]

16

In [ ]:
#One way to visualize the Internal working:
def get_hash(key):
	sum = 0
	for char in key:
		sum += ord(char)	#ascii value of character
	return sum % 100

In [14]:
print(f"{get_hash("Pearl")}")
print(f"{get_hash("Squidward")}")

0
48

In [15]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [None for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def add(self, key, val):
		hash = self.get_hash(key)
		self.arr[hash] = val

	def get(self, key):
		return self.arr[self.get_hash(key)]

In [16]:
table = HashTable()

In [18]:
table.add("Rahul", 21)

In [19]:
table.get("Rahul")

21

In [ ]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [None for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def __setitem__(self, key, val):	#python operators
		hash = self.get_hash(key)
		self.arr[hash] = val

	def __getitem__(self, key):
		return self.arr[self.get_hash(key)]
	
	def __delitem__(self, key):
		self.arr[self.get_hash(key)] = None

In [28]:
table = HashTable()
table["Rahul"] = 21
table["Alice"] = 25
table["Bob"] = 30
table["Charlie"] = 35
table["David"] = 40

In [29]:
table["Rahul"]

21

In [30]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 30,
 None,
 None,
 25,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 40,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 35,
 None,
 None,
 None]

In [31]:
del table["Bob"]

In [32]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 25,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 40,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 35,
 None,
 None,
 None]

In [33]:
#30 is gone

collision

1. Seperate Chaining

2. Linear Probing	= h(k) + i where h(k) = get_hash() and i = no. of collisions

3. Quadratic Probing = h(k) + i^2

4. Double Hashing =>

	h1(k) = k mod 11
	h2(k) = 8 - (k mod 8)

	(h1(k) + h2(k)) mod 11

In [37]:
print(get_hash("Barry"))
print(get_hash("David"))
print(get_hash("zzzz"))

12
88
88

In [38]:
table["Barry"] = 28
table["zzzz"] = 108

In [40]:
table["David"]	 #collision

108

### Seperate Chaining

In [58]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [None for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def __setitem__(self, key, val):	#python operators
		hash = self.get_hash(key)
		if self.arr[hash] is None:
			self.arr[hash] = []
		found = False

		for index, element in enumerate(self.arr[hash]):	#enumerate is a function to iterate through the array
			if len(element) == 2 and element[0] == key:
				self.arr[hash][index] = (key, val)
				found = True
				break
		
		if not found:
			self.arr[hash].append((key, val))

	def __getitem__(self, key):
		
		for element in self.arr[self.get_hash(key)]:
			if element[0] == key:
				return element[1]
	
	def __delitem__(self, key):
		hash = self.get_hash(key)
		for index, element in enumerate(self.arr[hash]):
			if element[0] == key:
				del self.arr[hash][index]

The provided code snippet appears to be part of a hash table implementation in Python. However, there are a few issues with the method signature and the logic. The method signature should be `__setitem__` instead of `__getitem__`, and the method should handle the case where the bucket is initially `None`. Here is the corrected version of the method with an explanation:



### Explanation:

1. **Method Definition**:
   - `def __setitem__(self, key, val):`: This defines the `__setitem__` method, which is a special method in Python used to set the value associated with a key in a dictionary-like object. This method allows you to use the syntax `hash_table[key] = val`.

2. **Hash Calculation**:
   - `x = self.get_hash(key)`: This line calculates the hash value for the given `key` using the `get_hash` method. The hash value `x` is used as the index in the array `self.arr`.

3. **Initialize Bucket**:
   - `if self.arr[x] is None: self.arr[x] = []`: This line checks if the bucket at index `x` is `None` (i.e., empty). If it is, it initializes the bucket as an empty list. This ensures that the bucket is ready to store key-value pairs.

4. **Search and Update**:
   - `found = False`: This variable is used to track whether the key was found in the bucket.
   - `for index, element in enumerate(self.arr[x]):`: This loop iterates through the elements in the bucket at index `x`. The `enumerate` function provides both the index and the element.
   - `if len(element) == 2 and element[0] == key:`: This condition checks if the element is a key-value pair (length 2) and if the key matches the given `key`.
     - `self.arr[x][index] = (key, val)`: If the key is found, this line updates the value associated with the key.
     - `found = True`: This sets the `found` variable to `True` to indicate that the key was found and updated.
     - `break`: This exits the loop since the key has been found and updated.

5. **Insert New Key-Value Pair**:
   - `if not found: self.arr[x].append((key, val))`: If the key was not found in the bucket, this line appends the new key-value pair to the bucket.

This method ensures that the hash table can handle collisions by using separate chaining (i.e., storing multiple key-value pairs in a list at each index). It updates the value if the key already exists and appends a new key-value pair if the key does not exist.

In [59]:
table = HashTable()

In [60]:
table["Rahul"] = 21
table["Alice"] = 25
table["Bob"] = 30
table["Charlie"] = 35
table["David"] = 40
table["Barry"] = 28
table["zzzz"] = 108

In [61]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Rahul', 21)],
 None,
 None,
 None,
 [('Barry', 28)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Bob', 30)],
 None,
 None,
 [('Alice', 25)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('David', 40), ('zzzz', 108)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Charlie', 35)],
 None,
 None,
 None]

In [62]:
table["Rahul"]

21

In [63]:
table["David"]

40

In [64]:
del table["David"]

In [65]:
table["David"]

In [66]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Rahul', 21)],
 None,
 None,
 None,
 [('Barry', 28)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Bob', 30)],
 None,
 None,
 [('Alice', 25)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('zzzz', 108)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Charlie', 35)],
 None,
 None,
 None]

### Linear Probing