In [3]:
import csv
employees = []

with open("Files/output.csv", "r") as f:
	next(f)
	for line in f:
		tokens = line.split(',')
		employee = tokens[0]
		age = int(tokens[1])
		employees.append([employee, age])

In [4]:
employees

[['Spongebob', 30],
 ['Patrick', 37],
 ['Sandy', 27],
 ['Squidward', 34],
 ['Mr. Krabs', 55],
 ['Plankton', 40],
 ['Gary', 5],
 ['Pearl', 16]]

In [6]:
for employee in employees:
	if(employee[0] == "Pearl"):
		print(employee[1])

#O(N) complexity

16

In [7]:
# The complexity becomes O(1) when we use Dictionary
employees = {}

with open("Files/output.csv", "r") as f:
	next(f)
	for line in f:
		tokens = line.split(',')
		employee = tokens[0]
		age = int(tokens[1])
		employees[employee] = age

In [8]:
employees["Pearl"]

16

In [ ]:
#One way to visualize the Internal working:
def get_hash(key):
	sum = 0
	for char in key:
		sum += ord(char)	#ascii value of character
	return sum % 100

In [14]:
print(f"{get_hash("Pearl")}")
print(f"{get_hash("Squidward")}")

0
48

In [15]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [None for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def add(self, key, val):
		hash = self.get_hash(key)
		self.arr[hash] = val

	def get(self, key):
		return self.arr[self.get_hash(key)]

In [16]:
table = HashTable()

In [18]:
table.add("Rahul", 21)

In [19]:
table.get("Rahul")

21

In [ ]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [None for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def __setitem__(self, key, val):	#python operators
		hash = self.get_hash(key)
		self.arr[hash] = val

	def __getitem__(self, key):
		return self.arr[self.get_hash(key)]
	
	def __delitem__(self, key):
		self.arr[self.get_hash(key)] = None

In [28]:
table = HashTable()
table["Rahul"] = 21
table["Alice"] = 25
table["Bob"] = 30
table["Charlie"] = 35
table["David"] = 40

In [29]:
table["Rahul"]

21

In [30]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 30,
 None,
 None,
 25,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 40,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 35,
 None,
 None,
 None]

In [31]:
del table["Bob"]

In [32]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 25,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 40,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 35,
 None,
 None,
 None]

In [33]:
#30 is gone

collision

1. Seperate Chaining

2. Linear Probing	= (h(k) + i) mod 100 where h(k) = get_hash() and i = no. of collisions

3. Quadratic Probing = (h(k) + i^2) mod 100

4. Double Hashing =>

	h1(k) = k mod 11
	h2(k) = 8 - (k mod 8)

	(h1(k) + i*h2(k)) mod 11

In [37]:
print(get_hash("Barry"))
print(get_hash("David"))
print(get_hash("zzzz"))

12
88
88

In [38]:
table["Barry"] = 28
table["zzzz"] = 108

In [40]:
table["David"]	 #collision

108

### Seperate Chaining

In [ ]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [None for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def __setitem__(self, key, val):	#python operators
		hash = self.get_hash(key)
		if self.arr[hash] is None:
			self.arr[hash] = []
		found = False

		for index, element in enumerate(self.arr[hash]):	#enumerate is a function to iterate through the array
			if len(element) == 2 and element[0] == key:
				self.arr[hash][index] = (key, val)
				found = True
				break
		
		#Equivalent simpler code
		# for i in range(len(self.arr)):
		# 	if self.arr[hash][i] == 2 and self.arr[hash][i][0] == key:
		# 		self.arr[hash][i] = (key, val)
		# 		found = True
		# 		break
		
		if not found:
			self.arr[hash].append((key, val))

	def __getitem__(self, key):
		
		for element in self.arr[self.get_hash(key)]:
			if element[0] == key:
				return element[1]
	
	def __delitem__(self, key):
		hash = self.get_hash(key)
		for index, element in enumerate(self.arr[hash]):
			if element[0] == key:
				del self.arr[hash][index]

In [59]:
table = HashTable()

In [60]:
table["Rahul"] = 21
table["Alice"] = 25
table["Bob"] = 30
table["Charlie"] = 35
table["David"] = 40
table["Barry"] = 28
table["zzzz"] = 108

In [61]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Rahul', 21)],
 None,
 None,
 None,
 [('Barry', 28)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Bob', 30)],
 None,
 None,
 [('Alice', 25)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('David', 40), ('zzzz', 108)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Charlie', 35)],
 None,
 None,
 None]

In [62]:
table["Rahul"]

21

In [63]:
table["David"]

40

In [64]:
del table["David"]

In [65]:
table["David"]

In [66]:
table.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Rahul', 21)],
 None,
 None,
 None,
 [('Barry', 28)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Bob', 30)],
 None,
 None,
 [('Alice', 25)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('zzzz', 108)],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 [('Charlie', 35)],
 None,
 None,
 None]

### Linear & Quadratic Probing

In [44]:
class HashTable:
	def __init__(self):
		self.MAX = 100
		self.arr = [[] for i in range(self.MAX)]

	def get_hash(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX
	
	def __setitem__(self, key, val):	#python operators
		hash = self.get_hash(key)

		count = 0
		for i in range(len(self.arr[hash])):
			if self.arr[hash][i] == 2 and self.arr[hash][i][0] == key:
				self.arr[hash][i] = (key, val)
				break
			else:
				count += 1
				hash = (hash + count) % self.MAX # for quadratic probing: hash = (hash + pow(count, 2)) % self.MAX
				
		self.arr[hash].append((key, val))


	def __getitem__(self, key):
		hash = self.get_hash(key)

		count = 0
		for i in range(len(self.arr[hash])):
			if self.arr[hash][i][0] == key:
				return self.arr[hash][i][1]
			elif self.arr[hash][i][0] != key:
				count += 1
				hash = (hash + count) % self.MAX
		
		return self.arr[hash][0][1]
	
	def __delitem__(self, key):
		hash = self.get_hash(key)

		count = 0
		for i in range(len(self.arr[hash])):
			if self.arr[hash][i] == 2 and self.arr[hash][i][0] == key:
				break
			elif self.arr[hash][i] == 2 and self.arr[hash][i][0] != key:
				count += 1
				hash = (hash + count) % self.MAX
		
		self.arr[hash] = []

In [45]:
table = HashTable()

In [46]:
table.get_hash("Rahul")

8

In [47]:
table["Rahul"] = 21
table["Alice"] = 25
table["Bob"] = 30
table["Charlie"] = 35
table["David"] = 40
table["Barry"] = 28
table["zzzz"] = 108

In [48]:
table.arr

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('Rahul', 21)],
 [],
 [],
 [],
 [('Barry', 28)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('Bob', 30)],
 [],
 [],
 [('Alice', 25)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('David', 40)],
 [('zzzz', 108)],
 [],
 [],
 [],
 [],
 [],
 [],
 [('Charlie', 35)],
 [],
 [],
 []]

In [49]:
table["David"]

40

In [50]:
table["zzzz"]

108

In [51]:
del table["David"]

In [52]:
table.arr

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('Rahul', 21)],
 [],
 [],
 [],
 [('Barry', 28)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('Bob', 30)],
 [],
 [],
 [('Alice', 25)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('zzzz', 108)],
 [],
 [],
 [],
 [],
 [],
 [],
 [('Charlie', 35)],
 [],
 [],
 []]

### Double Hashing:

	h1(k) = k mod x
	h2(k) = 8 - (k mod 8)	=> can take any value instead of 8, the only thing we need to make sure is that h2(k) < x and should be co-prime with x

	(h1(k) + h2(k)) mod x

In [53]:
class HashTable:
	def __init__(self):
		self.MAX = 11
		self.arr = [[] for i in range(self.MAX)]

	def get_hash1(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return sum % self.MAX

	def get_hash2(self, key):
		sum = 0
		for char in key:
			sum += ord(char)	
		return (8 - (sum % 8))
	
	def __setitem__(self, key, val):	#python operators
		hash1 = self.get_hash1(key)
		hash2 = self.get_hash2(key)
		hash = hash1
		count = 0
		for i in range(len(self.arr[hash])):
			if self.arr[hash][i] == 2 and self.arr[hash][i][0] == key:
				self.arr[hash][i] = (key, val)
				break
			else:
				count += 1
				hash =(hash1 + (count*hash2)) % self.MAX
				
		self.arr[hash].append((key, val))


	def __getitem__(self, key):
		hash1 = self.get_hash1(key)
		hash2 = self.get_hash2(key)
		hash = hash1

		count = 0
		for i in range(len(self.arr[hash])):
			if self.arr[hash][i][0] == key:
				return self.arr[hash][i][1]
			elif self.arr[hash][i][0] != key:
				count += 1
				hash =(hash1 + (count*hash2)) % self.MAX
		
		return self.arr[hash][0][1]
	
	def __delitem__(self, key):
		hash1 = self.get_hash1(key)
		hash2 = self.get_hash2(key)
		hash = hash1

		count = 0
		for i in range(len(self.arr[hash])):
			if self.arr[hash][i] == 2 and self.arr[hash][i][0] == key:
				break
			elif self.arr[hash][i] == 2 and self.arr[hash][i][0] != key:
				count += 1
				hash =(hash1 + (count*hash2)) % self.MAX
		
		self.arr[hash] = []

In [54]:
table = HashTable()

In [ ]:
table["Rahul"] = 21
table["Alice"] = 25
table["Bob"] = 30
table["Charlie"] = 35
table["David"] = 40
table["Barry"] = 28
table["zzzz"] = 108

In [56]:
table.arr

[[('Bob', 30)],
 [('zzzz', 108)],
 [('Rahul', 21)],
 [('Charlie', 35)],
 [('David', 40)],
 [('Alice', 25)],
 [('Barry', 28)],
 [],
 [],
 [],
 []]

In [57]:
table["David"]

40

In [58]:
table["zzzz"]

108

In [59]:
del table["David"]

In [60]:
table.arr

[[('Bob', 30)],
 [('zzzz', 108)],
 [('Rahul', 21)],
 [('Charlie', 35)],
 [],
 [('Alice', 25)],
 [('Barry', 28)],
 [],
 [],
 [],
 []]